<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Home Yeeter</title>
</head>
<body>
  <style>
    body {
      background-color: #121212;
    }
</style>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a href="{{url_for("home")}}">
            <img src="/static/images/Design_sem_nome__9_-removebg-preview.png" alt="erro" class="navbar-brand" width="40px">
        </a>
        <button class="navbar-toggler bg-dark-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-10 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{url_for('postagem')}}">Criar Postagem</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-10 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white rounded" href="{{url_for("perfil")}}">
                        <img src="/static/images/user.png" alt="avatar" class="nav-profile-img" width="30px">
                        Meu perfil
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white rounded" href="{{url_for("perfil")}}">
                      <img src="/static/images/log-out.png" alt="avatar" class="nav-profile-img" width="30px">
                      Sair
                  </a>
              </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
  {% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>