
{% extends 'base.html' %}

{% block content %}

    <section>
        <div class="container py-5">
          <div class="row">
            <div class="col">
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="/static/image/Profile-Male-PNG.png" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">{{ username }}</h5>
                  <p class="text-muted mb-1">Tester do aplicativo yeeter</p>
                  <p class="text-muted mb-4">Barretos</p>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary">Seguir</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Mensagem</button>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Username</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{username}}</p> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ email }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Telefone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Emprego</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Senha</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ password }}</p>
                    </div>
                  </div>
                </div>
              </div>
             
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
